{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      href="{% static 'fontawesomefree/css/fontawesome.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{% static 'fontawesomefree/css/brands.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{% static 'fontawesomefree/css/solid.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/styles.css' %}"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>

    <title>{% block title %}{% endblock title %} MySkills</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">MySkills</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'home' %}" >Courses</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'about-me' %}">About Me</a>
            </li>
            {% if request.user.is_authenticated %}
              {% if not request.user.is_verified %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'token-send' %}">Verify your account</a>
                </li>
              {% endif %}
            {% endif %}
            <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {% if request.user.is_authenticated %}
            Hi, {{request.user.first_name}}
            {% else %}
            More
            {% endif %}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% if request.user.is_authenticated %}
            {% if request.user.is_superuser %}
            <li><a class="dropdown-item" href="/admin/">Go to Admin</a></li>
            {% endif %}
            <li><a class="dropdown-item" href="#">Forgot Passord</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'logout-view' %}">Logout</a></li>
            {% else %}
            <li><a class="dropdown-item" href="{% url 'login-view' %}">Login</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'register' %}">Register</a></li>
            {% endif %}
          </ul>
        </li>
          </ul>
          <form class="d-flex" id="search-form" action="{% url 'search' %}" method="GET">
              <input class="form-control me-2" type="search" name="query" value="{{ query }}" placeholder="Search for Courses" aria-label="Search">
              <button class="btn btn-outline-light" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
          </form>
        </div>
      </div>
    </nav>

    {% block content %}{% endblock content %}
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
