{% extends 'courses/base.html' %}
{% load static %}
{% block title %}{{course}} |{% endblock title %}

{% block content %}
    <div class="container-detail">
  <div class="component">
    <h1 class="course-detail">{{course}}</h1>
    <img src="{{course.img.url}}" alt="Image of course" class="course-detail-img" >
    <h3>Description:- {{course.description}}</h3>
    <p class="btn btn-warning">Buy@ <b><i class="fa-solid fa-indian-rupee-sign cost"></i> {{course.cost}}</b></p>
  </div>
</div>

{% endblock %}