{% extends 'courses/base.html' %}
{% load static %}
{% block title %}Home |{% endblock title %}

{% block content %}
    <br/>
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <h6>{{message}}</h6>        
        {% endfor %}
    </div>  
    {% endif %}
    <h1 styles="color:A733FF;">Courses 
        {% if request.user.is_authenticated and request.user.is_superuser %}
        <a href="{% url add_course.button_url %}"><i class="{{add_course.classes}}"></i></a>
        {% endif %}
    </h1>
    <div class="container">
        {% include 'courses/course_list.html' %}
    </div>
{% endblock %}