{% extends 'courses/base.html' %}
{% load static %}
{% block title %}Home |{% endblock title %}

{% block content %}
    <div class="container">
        <br/>
        <h1 styles="color:A733FF;">Courses <a href="{% url 'create-view' %}"><i class="fa-solid fa-circle-plus"></i></a></h1>
        <div class="row">
            {% for obj in courses %} 
                <div class="col-lg-4 col-md-3 col-sm-2">
                    <div class="card courses" style="width: 15rem;">
                        <img class="card-img-top course-img" src="{{obj.img.url}}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{obj.name}}</h5>
                            <p class="card-text">
                                {{obj.description|slice:"0:50"}}
                                {% if obj.description|length >= 47 %}
                                    ...
                                {% else %}
                                    <br>
                                    <br> 
                                {% endif %} 
                            </p>
                            <hr class="courseline">
                            <a href="{% url 'detail' obj.pk %}" class="btn btn-primary aboutthis">About this</a>
                            <a href="#" class="btn btn-success "><i class="fa-solid fa-indian-rupee-sign cost"></i> {{obj.cost}}</a>
                            <a href="{% url 'update' obj.pk %}" class="btn btn-warning aboutthis">Update</a>
                            <a href="{% url 'delete' obj.pk %}" class="btn btn-danger aboutthis">Delete</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div> 
{% endblock %}