<div class="text-center">
    <form class="d-flex" id="search-form" action="{% url 'search' %}" method="GET" autocomplete="off">
        {% csrf_token %}
        <input class="form-control me-2 p-1 search" type="search" name="query" value="{{ query }}" placeholder="Search for Courses" aria-label="Search">
        <button class="btn btn-outline-light" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
</div>  
<div id="results-box" class="results-card">
    {% include "courses/search_dropdown.html" %}
</div>