{% extends 'courses/base.html' %}
{% load static %}
{% block title %}Error |{% endblock title %}
{% block content %}
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <h6>{{message}}</h6>        
            {% endfor %}
        </div>  
    {% endif %}
     <div class="global-container">
        <div class="card login-form">
            <div class="card-body">
                <h3 class="card-title text-center">Error</h3>
                <a href="{% url 'courses' %}" class="btn btn-success">Back</a>
            </div>
        </div>
    </div>
{% endblock %}