{% extends 'courses/base.html' %}
{% load static %}
{% block title %}Login |{% endblock title %}

{% block content %}
    <h2><a class="auth" disabled>Login</a></h2>
    <form method="post">
    {% csrf_token %}
    <p>{{form.email.label_tag}}{{form.email}}</p>
    <p>{{form.password.label_tag}}{{form.password}}</p>
    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
    <button class="btn btn-primary" type="submit">Login</button>
    <p>
        <a class="auth" href="{% url 'signup'%}">Don't have an account?</a>
    </p>
    {{form.errors}}
    </form>
{% endblock %}