{% extends 'courses/base.html' %}
{% load static %}
{% block title %}Login |{% endblock title %}

{% block content %}
    <div class="container">
        <h2>Login</h2>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="form-group">
                <input type="submit" value="Signup">
            </div>
        </form>
    </div>
{% endblock %}