{% extends 'courses/base.html' %}
{% load static %}
{% block title %}Register |{% endblock title %}

{% block content %}
    <style>
        .container {
            width: 300px;
            margin: 0 auto;
            padding: 20px;
            margin-top:10px;
        }

        .container h2 {
            text-align: center;
            margin-bottom: 20px;
        }

        .form-group {
            margin-bottom: 15px;
        }

        .form-group label {
            display: block;
            margin-bottom: 5px;
        }

        .form-group input[type="email"],
        .form-group input[type="password"],
        .form-group input[type="submit"] {
            width: 100%;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
        .form-group input[type="submit"] {
            background-color: #4158D0;
            background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
            color: white;
            cursor: pointer;
            transition: background-position 0.8s ease-in-out;
            background-size: 200% 100%;
            background-position: 0 0;
        }

        .form-group input[type="submit"]:hover {
            background-position: 100% 0;
        }

    </style>
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <div class="alert alert-{% if message.tags == 'debug' %}secondary{% elif message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        </div>  
    {% endif %}
    <div class="container">
        <div class="centered-container">
            <h2>Signup</h2>
            <form action="" method="POST">
                {% csrf_token %}
                <div class="form-row custom-form-group">
                    <div class="form-group col">
                        <label for="first_name">First Name:</label>
                        <input type="text" class="form-control" id="first_name" name="first_name" required>
                    </div>
                    <div class="form-group col">
                        <label for="last_name">Last Name:</label>
                        <input type="text" class="form-control" id="last_name" name="last_name" required>
                    </div>
                </div>
                <div class="form-group custom-form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <div class="form-group custom-form-group">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <div class="form-group custom-form-group">
                    <label for="confirm_password">Confirm Password:</label>
                    <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
                </div>
                <p>
                    <a href="{% url 'login-view' %}">Already have an account?</a>
                </p>
                <div class="form-group custom-form-group">
                    <input type="submit" value="Signup">
                </div>
            </form>
        </div>
    </div>
{% endblock %}
