{% extends 'courses/base.html' %}
{% load static %}
{% block title %}Success |{% endblock title %}
{% block content %}
<div class="global-container">
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <h6></h6>        
            {% endfor %}
        </div>  
    {% endif %}
    <div class="card login-form">
        <div class="card-body">
            <h3 class="card-title text-center">Successfully Verified</h3>
            <div class="card-text text-center"></div>
        </div>
    </div>
</div>
{% endblock %}