* {
  font-family: "Oswald", sans-serif;
  margin: 0;
  padding: 0;
}
.navbar {
  background-color: #12192c;
}
.courses {
  margin: 1rem;
}
.course_detail * {
  margin: 0;
  margin-left: 1em;
}
.course_detail img {
  width: 16em;
}
.desc {
  display: inline-block;
  margin: 0;
  margin-left: 1rem;
}
.desc b {
  margin-left: 0;
}
.course_detail h1 {
  margin-bottom: 1em;
}

.about {
  margin: 0;
  margin-left: 1.5em;
}
.about-wrapper {
  height: 100vh;
}
.about-wrapper h2:hover {
  font-family: "Edu VIC WA NT Beginner", cursive;
}
.about-wrapper h3:hover {
  font-family: "Edu VIC WA NT Beginner", cursive;
  font-weight: 900;
}
.about-left {
  background-color: #21d4fd;
  background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #fff;
}

.about-left-content > div {
  background: #12192c;
  padding: 4rem 4rem 2.5rem 5rem;
  text-align: center;

  border-radius: 12px 12px 0 0;
}

.about-left-content {
  box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
  -webkit-box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
  border-radius: 12px;
  width: 80%;
}

.about-img img {
  display: block;
  width: 200px;
}

.about-img {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
}

.shadow {
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.about-left-content h2 {
  font-size: 2rem;
  margin: 2.2rem 0 0.6rem 0;
  line-height: 1.2;
  padding-bottom: 1rem;
  border-bottom: 2px solid #b721ff;
}

.about-left-content h3 {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 5px;
  margin-top: 1.2rem;
}

.icons {
  background: #12192c;
  display: flex;
  justify-content: center;
  padding: 0.8rem 0;
  border-radius: 0 0 12px 12px;
}

.icons li {
  list-style-type: none;
  background: #b721ff;
  color: #fff;
  width: 40px;
  height: 40px;
  margin: 0 0.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.icons li:hover {
  background: #edffec;
}
.icons li:hover .fa-twitter {
  color: #1d9bf0;
}
.icons li:hover .fa-linkedin {
  color: #0077b5;
}
.icons li:hover .fa-instagram {
  /* color: palevioletred; */
  background: linear-gradient(
    45deg,
    #405de6,
    #5851db,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d
  );
  color: #fff;
}
.about-right {
  background: #12192c;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 5rem;
  text-align: center;
  color: #fff;
}

.about-right h1 {
  font-size: 4rem;
  text-transform: uppercase;
}
.about-right h1:hover {
  text-transform: capitalize;
  color: #b721ff;
}
.about-right h1 span {
  color: #b721ff;
}
.about-right h1:hover > span{
  color:white;
}
.about-right h2 {
  font-weight: 650;
}

.about-btns {
  display: flex;
  box-sizing: border-box;
  margin: 2rem 0;
}

.btn {
  border: none;
  font-size: 0.9rem;
  text-transform: uppercase;
  border: 1px solid #fff;
  border-radius: 20px;
  padding: 0.55rem 0;
  width: 130px;
  font-weight: 600;
  margin: 0 0.5rem;
  cursor: pointer;
  color: #fff;
}

.btn.btn-pink {
  background: #b721ff;
  color: #fff;
  border-color: #b721ff;
  transition: all 0.5s ease-in-out;
}

.btn.btn-pink:hover {
  background: transparent;
  border-color: #fff;
  color: #fff;
}

.btn.btn-white {
  transition: all 0.5s ease-in-out;
}

.btn.btn-white:hover {
  background: #b721ff;
  border-color: #b721ff;
  color: #fff;
}
.btn-white a i {
  font-size: 10em;
}
.about-para p {
  font-weight: 300;
  padding: 0.5rem;
  opacity: 0.8;
  font-size: 1.25em;
}
.about-para p:hover{
  font-size: 1.3em; 
}
@media screen and (min-width: 992px) {
  .about-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
  }

  .about-left {
    position: relative;
  }

  .about-left-content {
    position: absolute;
    width: 80%;
  }
}

.credit {
  text-align: center;
  color: #fff;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.credit a {
  text-decoration: none;
  color: #b721ff;
  font-weight: bold;
}
.alert.alert-success {
  margin-bottom: 0;
}
ul li a {
  text-decoration: none;
  color: white;
  padding: 0;
}
.github a {
  text-decoration: none;
  color: white;
}
.btn.resume {
  padding-left: 1em;
  margin-right: 1em;
  text-transform: uppercase;
  text-align: center;
}
.searchbtn {
  width: 4em;
  border: 0;
}
.cost,
a.aboutthis {
  display: inline-block;
  padding-right: 0;
  padding-left: 0;
  margin: 0;
}
a.aboutthis {
  width: 7.1em;
  text-align: center;
}
.cost {
  width: 0.5em;
}
.bottomscroll {
  position: relative;
  color: #fff;
}
.bottomscroll p {
  position: fixed;
  bottom: 0;
  right: 1em;
  cursor: pointer;
}
#top {
  font-size: 1.5em;
  color: black;
}
hr.courseline {
  border-style: none;
  border-color: #12192c;
  border-top-style: dotted;
  border-width: 9px;
  width: 100%;
  background-color: #ffffff;
}
img.prof_img,
img.course_img {
  transition: transform 0.5s;
}
.prof_img:hover {
  transform: scale(1.4);
}
.course_img:hover {
  transform: scale(1.15);
} 