{% extends "courses/index.html" %}
{% load static %} 
{% block title %}Signup | MySkills.org{% endblock title %}
{% block content %}
    <h2><a  class="auth" href="{% url 'signup' %}">Signup</a></h2>
    <form>
        {% csrf_token %} 
        <p>{{form.name.label_tag}}{{form.name}}</p>
        <p>{{form.username.label_tag}}{{form.username}}</p>
        <p>{{form.email.label_tag}}{{form.email}}</p>
        <p>{{form.password1.label_tag}}{{form.password1}}</p>
        <p>{{form.password2.label_tag}}{{form.password2}}</p>
        {{form.errors}}
        <button class="btn btn-success" type="submit">SignUp</button>
    </form>
    <br>
    <p><a class="btn btn-primary" href="{% url 'login'%}">Login</a></p>
{% endblock content %}  