{% extends "courses/index.html" %}
{% load static %} 
{% block title %}About Me | Vatsal Khatri{% endblock title %}
{% block content %}
<div class = "about-wrapper">
      <div class = "about-left">
        <div class = "about-left-content">
          <div>
            <div class = "shadow">
              <div class = "about-img">
                <img src = "{% static 'img/mypic.jpg' %}" alt = "about image" class="prof_img">
              </div>
            </div>

            <h2>Vatsal Khatri</h2>
            <h3>Web developer</h3>
          </div>

          <ul class = "icons"> 
            <a href="https://twitter.com/khatrivatsal8" target="_blank"><li><i class = "fab fa-twitter"></i></li></a>
            <a href="https://www.linkedin.com/in/vatsal-khatri-2395791b1/"  target="_blank"><li><i class = "fab fa-linkedin"></i></li></a>
            <a  href="https://www.instagram.com/robinhood_2408/"  target="_blank"><li><i class = "fab fa-instagram"></i></li></a>
          </ul>
        </div>
        
      </div>

      <div class = "about-right">
        <h1>Hello<span>!</span></h1>
        <h2>Here's who I am & what I do</h2>
        <div class = "about-btns">
          <button type = "button" class = "btn btn-pink resume">Résumé / CV</button>
          <button type = "button" class = "btn btn-white github"><a href="https://github.com/vatsal-08"  target="_blank"><i class="fa-brands fa-github fa-lg"></i> GITHUB</a></button>
        </div>

        <div class = "about-para">
          <p>Currently, I am pursuing BTech CSE from IIITV, Gandhinagar, Gujarat, India </p>
          <p>I am in 3<sup>rd</sup> year and I have a great interest in Web Development, Machine Learning and new upcoming technologies</p>
        </div>
        <div class="credit">Made with <span style="color:tomato">❤</span> by <a href="#">Vatsal Khatri</a></div>
      </div>
    </div>
{% endblock content %}