{% extends "courses/index.html" %}
{% load static %} 
{% block title %}{{course.name}} | MySkills.org{% endblock title %}
{% block content %}
<div class="course_detail">
    <h1>{{course.name}}</h1>
    <table>
        <tr>
            <td>
                <img src="{{course.img.url}}" alt="image">
            </td>
            <td> 
                <p class="desc"><b>Description:- </b>{{course.description}}</p>
                <br>
                <br>
                <p class="desc"><a href="#" class="btn btn-primary">Buy Now @{{course.cost}}</a></p>
            </td>
        </tr>
    </table>
    <br><br><br>
    <h5>Last updated:- {{course.last_modified}}</h5>
    <h5>Date created:- {{course.added}}</h5>
</div>
{% endblock content %}